{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% endblock fos_user_content %}
<div class="container">
    <div class="form-signin">
        <p style="text-align: justify;">
            {{ 'resetting.password_already_requested'|trans }}
        </p>
        <hr>
        <h3><a href="{{ path('fos_user_security_login') }}">Se connecter</a></h3>
        <h3><a href="{{ path('kodo_zoo_accueil') }}">Retour à l'accueil</a></h3>
    </div>
</div>